extends layout

block content
  div.background-changer
    div.background1.background
    div.background2.background
    div.background3.background
  div.container
    h1.heading Cabins For Sale
    div.main
      div.filter-menu
        ul.price-list
          li
            label
              input.checkmark(type='checkbox', name='check1')
              $0 - $50K
          li
            label
              input.checkmark(type='checkbox', name='check2')
              $50K - $100K
          li
            label
              input.checkmark(type='checkbox', name='check3')
              $100K - $200K
          li
            label
              input.checkmark(type='checkbox', name='check4')
              $200K - $300K
          li
            label
              input.checkmark(type='checkbox', name='check5')
              $300K - $500K
          li
            label
              input.checkmark(type='checkbox', name='check6')
              $500K - $1 Mil
      div.results
        div.sort-menu
          span Sort By:  
            a.high(href="#") High
            span  |  
            a.low(href="#") Low
        div.listings
          each listing in cabinList
            a(href='#' )
              div.listing(name='#{listing.price}')
                img.thumbnail(src='#{listing.imgUrl}' alt='cabin')
                p $#{listing.price}
              
